{% load staticfiles i18n %}

<h2 class="grey-dark">{% trans "Venue Wall" %}</h2>

<span class="span-message">
    <p>{% trans "What's on your mind?" %}</p>
    <button id="send-message-btn" data-wall-id="{{venue.id}}" class="btn btn-mini right" wall-type="4"> {% trans "Submit" %}</button>
    <div class="control-group">
        <textarea id="txt-new-message"></textarea><br/>
    </div>
</span>

<div id="messages" class="clear">
    {% for message in messages %}
        {% include "message/_message.html" %}
    {% endfor %}
    <div class="next-msg"></div>
    {% if more_message != False %}
    	 <button id="btn-more-message"  player-id="{{ venue.id }}"  class="btn btn-orange hide" wall-type="4">{% trans "See more" %}</button>
    {% endif %}
</div>