{% extends "layout.html" %}

{% block head %}
    {% load staticfiles i18n%}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% block left_menu_container %}{% endblock %}

<div class="flipper">
    <div class="card">
        <div class="face front">

            <h2>Reset Password</h2>
            {% if error_message == '' %}
            <form id="form-reset-password" action="" method="post" accept-charset="utf-8" class="">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="control-group {% if form.new_password.errors %}error{% endif %}">
                    <div class="controls">
                        {{ form.new_password }}
                        <span class="help-inline">{{ form.new_password.errors }}</span>
                    </div>
                </div>

                <div class="control-group {% if form.re_new_password.errors %}error{% endif %}">
                    <div class="controls">
                        {{ form.re_new_password }}
                        <span class="help-inline">{{ form.re_new_password.errors }}</span>
                    </div>
                </div>

                <input type="submit" class="btn btn-block" value="Submit">
            </form>
            {% else %}
            <p>{% trans error_message %}</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}